<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eu.yaesakura.simpleauth.framework.mapper.LoginLogMapper">

    <!--  -->
    <select id="selectLoginLog" resultType="org.eu.yaesakura.simpleauth.framework.domain.entity.LoginLog" parameterType="org.eu.yaesakura.simpleauth.framework.domain.dto.ExportLoginLogDTO">
        SELECT * FROM login_log
        WHERE TRUE
        <if test="principal != '' and principal != null">
            AND principal LIKE #{principal}
        </if>
        <if test="ip != '' and ip != null">
            AND ip = #{ip}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="dateRange != null and dateRange.size > 0">
            AND time BETWEEN #{dateRange[0]} AND #{dateRange[1]}
        </if>
    </select>

</mapper>